<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">INITIAL INVESTMENT</label>
      <input
        id="initialInvestment"
        name="initialInvestment"
        type="number"
        [(ngModel)]="initialInvestment"
      />
    </p>
    <p>
      <label for="annualInvestment">ANNUAL INVESTMENT</label>
      <input
        id="annualInvestment"
        name="annualInvestment"
        type="number"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedReturn">EXPECTED RETURN</label>
      <input
        id="expectedReturn"
        name="expectedReturn"
        type="number"
        [(ngModel)]="expectedReturn"
      />
    </p>
    <p>
      <label for="duration">DURATION</label>
      <input
        id="duration"
        name="duration"
        type="number"
        [(ngModel)]="duration"
      />
    </p>
  </div>

  <p><button>CALCULATE</button></p>
</form>
